@page
@model AnjoAzul.Pages.IndexModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link href="~/css/login.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/login.js"></script>
    <script src="~/js/site.js"></script>

    <title>Login - Anjo Azul</title>
</head>
<body>
    @Html.Hidden("LoginUrl", Url.Action("Login", "Pages"))
    @Html.Hidden("EsqueciSenhaUrl", Url.Action("EsqueciSenha", "Pages"))




    <div>
        <div id="divMsg" class="divMsg Sucesso" style="display: none">
            <p id="pmsg" class="TextoDivMsg">Aguarde....</p>
        </div>
    </div>



    <div class="painelLogin">

        <div class="logo"></div>

        <input type="text" id="login" class="text" placeholder="E-Mail" />
        <input type="password" id="senha" class="text" placeholder="Senha" />
        <div align="right">
            <input type="button" id="btnLogar" class="btn btn-primary" placeholder="Senha" value="Login" onclick="FuncaoLogin();" />
        </div>
        <br />
        <br />
        <div align="right">
            <a onclick="AbreEsqueciSenha()" style="cursor:pointer"><font size="2">Esqueci minha Senha!</font></a><br />
            <a style="cursor:pointer" onclick="window.location.href='@Url.Action("Cadastro", "Cadastro" )'"><font size="2">Não sou cadastrado!</font></a>
        </div>
    </div>

    <!--Modal Esquici minha senha-->
    <div class="modal fade" id="divEsqueciSenha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">

                    <div>
                        <div id="divMsgModal" class="divMsg Sucesso" style="display: none">
                            <p id="pmsgModal" class="TextoDivMsg">Aguarde....</p>
                        </div>
                    </div>

                    <h3 class="example-title">Solicitar Senha</h3><br />
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="text" id="txtLoginEqueci" class="text" placeholder="E-Mail" />
                            <div align="right">
                                <input type="button" id="btnEsqueciSenha" class="btn btn-primary" onclick="EsqueciSenha();" value="Solicitar Senha" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Esquici minha senha-->

</body>
</html>