@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<link href="~/css/login.css" rel="stylesheet" />
<script src="~/js/login.js"></script>

@Html.Hidden("LoginUrl", Url.Action("Login", "Index"))

<div class="painelLogin">
    <input type="text" id="login" class="text" placeholder="E-Mail" />
    <input type="password" id="senha" class="text" placeholder="Senha" />
    <input type="button" id="btnLogar" class="input" placeholder="Senha" value="Login" onclick="FuncaoLogin();" />
    <br />
    <br />
    <div align="right">
        <a onclick="AbreEsqueciSenha()" style="cursor:pointer"><font size="2">Esqueci minha Senha!</font></a><br />
        <a style="cursor:pointer" onclick="window.location.href='@Url.Action("Cadastro", "Cadastro")'"><font size="2">Não sou cadastrado!</font></a>
    </div>
</div>

