@page
@model AnjoAzul.Pages.DashBoard.ListaPacientesModel
@{
    ViewData["Title"] = "Pacientes";
}
<div class="row">
    <div class="col-sm-12">
        <div class="box" style="display:none;">
            <div class="example-title">Pacientes</div>
        </div>
    </div>
</div>
