@page
@model AnjoAzul.Pages.DashBoard.ListaPacientesModel
@{
    ViewData["Title"] = "Pacientes";
}
<div class="row">
    <div class="col-sm-12">
        <div class="box" style="display:none;">
            <div class="example-title">Pacientes</div>
            <div style="height:400px;overflow-x: auto;">
                <table class="table-internal" style="margin-top:15px;" id="tblPacientes">
                    <thead>
                        <tr class="tr-head">
                            <th>
                                Código
                            </th>
                            <th>
                                Nome
                            </th>
                            <th>
                                Data Nascimento
                            </th>
                            <th>
                                Responsável
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
